<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ARBITER Web Console</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://dreamerslegacy.xyz/css/schema.min.css" referrerpolicy="noreferrer">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="/src/usr/share/ARBITER/static/table.css">
    </head>
    <body>
        <div class="schema">
            <h1>ARBITER</h1>
            <p>Server ID: {{ serverid }}</p>
            <hr>
            <div class="button-container">
                <a class="button" href="{{ url_for('logout') }}">Logout</a>
                <a class="button" href="{{ url_for('change_password') }}">Change Password</a>
            </div>
            <hr>
            <!-- warning displayed only when JavaScript is disabled -->
            <noscript class="message-box-container">
                <div class="message-box">
                    <h2>Warning!</h2>
                    <p style="color: #ff4545;">JavaScript is required for ARBITER to process live I/O.</p>
                </div>
            </noscript>
            <!-- error log hidden, unless an error is raised -->
            <div class="message-box-container" id="errors" style="display: none;">
                <div class="message-box" style="padding-left: 15%; padding-right: 15%;">
                    <h2>Errors</h2>
                    <p style="color: #ff4545;">Errors have occurred since initialization. Please be attentive to resolving them, otherwise some functions may be broken or disabled.</p>
                    <button class = "collapsible">View Log</button>
                    <div class = "content" style="overflow-x: auto; overflow-y: auto; white-space: nowrap;" id="error-log">
                    </div>
                    <p class="hint">// Some errors may have additional information not shown in the log, and are instead displayed in console.</p>
                </div>
            </div>
            <div class="row">
                <div class="column card">
                    <h2>Agents</h2>
                    <hr>
                    <div class="table-container">
                        <table id="agents-table">
                            <thead>
                                <tr>
                                    <th>UUID</th>
                                    <th>Name</th>
                                    <th>Directive</th>
                                    <th>Connected?</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody id="agents-table-content"></tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="button-container">
                        <button onclick="managerPanelAddAgent();">Connect to New Agent</button>
                        <button onclick="managerPanelManageDirectives();">Manage Directives</button>
                    </div>
                </div>
                <div class="column card">
                    <h2>Manage</h2>
                    <hr>
                    <p class="hint" id="empty-manage-hint">// Select an agent from the Agents table, or add a new agent, to begin management.</p>
                    <div id="manager-errors"></div>
                    <div id="add-agent" style="display: none;">
                        <p class="hint">// Currently adding a new agent. Enter hostname and select <i>Connect</i>, or <i>Cancel</i> to close.</p>
                        <label for="host">Agent Hostname:</label>
                        <input type="text" id="add-agent-input-host" name="host" required>
                        <div class="button-container">
                            <button onclick="addAgent();" id="add-agent-connect-button">Connect</button>
                            <!-- 
                                this doesn't actually cancel the request, it just clears the manager panel,
                                same for the other panels.
                            -->
                            <button onclick="managerPanelClear(false);" style="color: var(--red);" id="add-agent-cancel-button">Cancel</button>
                        </div>
                        <p id="add-agent-waiting-message" style="display: none;">Processing...</p>
                    </div>
                    <div id="selected-agent" style="display: none;">
                        <p class="hint">// Currently selected an agent. See below for agent details and usage hints.</p>
                        <div id="selected-agent-data"></div>
                        <p class="hint">(i) Enter directive and select <i>Apply</i> to issue directives changes.</p>
                        <!-- todo, directives re-assignment and onclick triggers -->
                        <p class="hint">[/!\] Stopping or restarting a script may result in unexpected and/or dangerous agent behavior. Please exert caution, and implement failsafes in your program.</p>
                        <div class="button-container">
                            <button onclick="" class="selected-agent-connection-dependent">Stop Directive</button>
                            <button onclick="" class="selected-agent-connection-dependent">Start Directive</button>
                            <button onclick="" class="selected-agent-connection-dependent">Restart Directive</button>
                        </div>
                        <p class="hint">[/!\] The collapsible section below include unsafe commands.</p>
                        <button class="collapsible">Unsafe Commands</button>
                        <div class="content">
                            <button onclick="" style="color: var(--red);" class="selected-agent-connection-dependent">Disconnect Agent</button>
                            <button onclick="removeAgent();" style="color: var(--red);">Remove Agent</button>
                        </div>
                        <p class="hint">(i) Tele-operation requires popups to be disabled.</p>
                        <div class="button-container">
                            <button onclick="managerPanelClear(false);" style="color: var(--red);">Close</button>
                            <button onclick="" class="selected-agent-connnection-dependent">Operate</button>
                        </div>
                    </div>
                    <div id="manage-directives" style="display: none;">
                        <p class="hint">// Currently managing directives.</p>
                        <div class="table-container">
                            <table id="directives-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody id="directives-table-content"></tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="button-container">
                            <button onclick="addDirective();">Add</button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
            <script src="https://mozilla.github.io/nunjucks/files/nunjucks.min.js" referrerpolicy="noreferrer"></script>
            <script src="https://dreamerslegacy.xyz/js/collapse.min.js"></script>
            <script src="{{ url_for('static', filename='ui.js') }}"></script>
            <script src="{{ url_for('static', filename='socket.js') }}"></script>
        </div>
    </body>
</html>
